.current {
  color: var(--link-hover-color);

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--link-hover-color);
  }
}
