:root {
  --text-color: #757575;
  --contact: #757575;
  --title-color: #212121;
  --link-color: #212121;
  --link-hover-color: #2196f3;
  --logo-color: #2196f3;
  --btn-color: #2196f3;
  --filter-btn: #f5f4fa;
  --social-link: #afb1b8;
  --footer-title: #ffffff;
  --company-color: #afb1b8;
}
