@media screen and (max-width: 479px) {
  .clients__list {
    justify-content: center;
  }
  .clients__item:nth-child(-n + 5) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .clients__list {
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .client .container {
    text-align: center;
  }
  .clients__list {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 450px;
  }
  .clients__link {
    width: 210px;
  }
  .clients__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
  .clients__link {
    width: 226px;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link {
  display: inline-flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--primary-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.clients__icon {
  fill: var(--primary-icon-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--primary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
