.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-mobile/mobile-img1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-mobile/mobile-img2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-tablet/tablet-img1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-tablet/tablet-img2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-desktop/desktop-Img1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/bg-desktop/desktop-Img2x.jpg);
    }
  }
}
.hero .container {
  text-align: center;
}
.hero__header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--auxiliary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  width: 200px;
  height: 50px;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--auxiliary-color);
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;

    justify-content: space-between;
  }
}
@media screen and (max-width: 1199px) {
  .content-box .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__header {
    max-width: 360px;
    font-size: 26px;
    line-height: 42px;
  }
}
