:root {
  --primary-color: #2196f3;
  --header-text-color: #212121;
  --primary-text-color: #757575;
  --auxiliary-color: #ffffff;
  --secondary-text-alfa: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --bg-color-hero: #c4c4c4;
  --logo-color: #000000;
  --primary-icon-color: #afb1b8;
}
